<hr>
<h2 class="marge">Bievenue professeur.e {{user.nom}}</h2>

<section id="contact">

	<div>

		<section>
			<img src="//images/BANNER.jpg" alt="info_harcelement" class="banner_index">
		</section>



		<section>
			<center>
				<strong>
					<p>Baisse des résultats, crises d'angoisse, dépression : le harcèlement scolaire peut avoir des conséquences
						dramatiques.</p>
					<p>BULLYING permet aux victimes de se confier et de signaler tout cas de harcèlement.</p>
					<div class="col-6 col-12-small">
						<ul class="actions stacked">
							<li><a href="/mode_emploi" class="button fit infos">En savoir plus</a></li>
						</ul>
					</div>
				</strong>
			</center>
		</section>

	</div>
</section>