<!DOCTYPE HTML>
<!--
  Forty by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <noscript>
    <link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

  <header id="header" class="alt style2">
    <a href="/">
      <img src="/images/Logo.png" alt="" width="35%" height="auto" class="logo">
    </a>

  </header>

  <center>
    <div id="connexion">

      <h2>Connexion</h2>

      <form action="/auth/login" method="POST" id="form-container">

        <label for="username">Email</label>
        <input id="username" type="text" name="username" placeholder="em@il">

        <br><br>

        <label for="password">Mot de passe</label>
        <input id="password" type="password" name="password" placeholder="******">
        <br>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <br><br>

        <button>Login</button>

      </form>

    </div>
  </center>

  <!-- Scripts -->
  <script src="/javascripts/script.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.scrolly.min.js"></script>
  <script src="/assets/js/jquery.scrollex.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>