<h2>Création de compte</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Nom</label>
  <input id="username" type="text" name="username" placeholder="Nom">

  <br><br>

  <label for="name">Prénom</label>
  <input id="name" type="text" name="name" placeholder="Prénom">

  <br><br>

  <label for="classe">Classe</label>
  <select name="" id="">
    <option value=""></option>
  </select>

  <br><br>

  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="Email">

  <br><br>

  <label for="genre">Genre</label>
  <select name="genre" id="genre">
    <option value="H">H</option>
    <option value="F">F</option>
  </select>

  <br><br>

  <label for="password">Mot de passe</label>
  <input id="password" type="password" name="password" placeholder="Mot de passe">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Créer un nouveau profil</button>

  <br><br>

</form>
