<!DOCTYPE HTML>

<html>

<head>
  <title>SAFETY</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <style>
    div.inner {
      margin-left: 50px;
    }

    }
  </style>
  <link rel="stylesheet" href="assets/css/main.css" />
  {{!-- <link rel="stylesheet" href="/stylesheets/style.css" /> --}}
  <noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">


  <!-- Wrapper -->

  <div>

    <!-- Header -->
    <!-- Note: The "styleN" class below should match that of the banner element. -->
    <header id="header" class="alt style2">

      <img src="/images/Logo.png" alt="" height="auto" class="logo">


      <nav>
        <a href="#menu">Menu</a>
      </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
      <ul class="links">
        <li><a href="/mode_emploi">Mode d'emploi</a></li>
        <li><a href="elements.html">Contact</a></li>
        <li><a href="#" data="https://www.nonauharcelement.education.gouv.fr/que-faire/le-harcelement-cest-quoi/"
            onclick="window.open(this.getAttribute('data'));return false">Ressources
            officielles </a></li>
      </ul>
      <ul class="actions stacked">
        <li><a href="/auth/login" class="button fit">Se connecter</a></li>
      </ul>
    </nav>

    <!-- Banner -->
    <!-- Note: The "styleN" class below should match that of the header element. -->
    <section id="banner" class="style2">
      <div class="inner">
        <span class="image">
          <img src="/images/lycee-pierre-et-marie-curie.png" alt="" />
        </span>
        <header class="major ">
          <h1>S A F E T Y</h1>
        </header>
        <div class="content">
          <p>L'app qui met tout le monde ok<br>Baisse des résultats, crises d'angoisse, dépression : <br>le harcèlement
            scolaire peut avoir des
            conséquences
            dramatiques.<br>
          </p><a href="/auth/login" class="button next">Se
            connecter</a>
        </div>
      </div>
    </section>

    <!-- Main -->
    <div id="main">
      {{!-- <section>
        <div class="contact-method">
          <img src="/images/BANNER.jpg" alt="" width="100%" height="auto">
        </div>
      </section> --}}

      <!-- One -->
      <section id="one">
        <div class="inner">
          <header class="major">
            <h2>A N O N Y M E</h2>
          </header>
          <div class="content">
            <p class="content"><strong>PRENDRE LA PAROLE PUBLIQUEMENT POUR DENONCER LE HARCELEMENT PEUT ÊTRE DISSUASIF.
                <br>SUR L'APPLICATION <img style="vertical-align: middle;" src="/images/Logo.png" alt="" width="9%"
                  height="auto" class="logo"> , LES ELEVES AURONT TOUJOURS LE CHOIX DE RESTER ANONYME,
                S'ILS LE SOUHAITENT.</strong>
            </p>
          </div>
        </div>
      </section>

      <section id="one" class="tiles">
        <article>
          <span class="image">
            <img src="/images/iss_13301_02252.jpg" alt="picture 01" />
          </span>
          <header class="major">
            <h3>Elèves</h3>
            <p><strong>SAFETY</strong> permet aux victimes de se confier ou aux témoins de signaler tout cas de
              harcèlement. Au besoin, dans l'anonymat le plus strict.
            </p>
          </header>
        </article>
        <article>
          <span class="image">
            <img src="/images/psy.jpg" alt="" />
          </span>
          <header class="major">
            <h3>Proviseur.e</h3>
            <p>Le bien-être de vos élèves vous importe? <br>Ouvrez le canal de communication.</p>
          </header>
        </article>
        <article>
          <span class="image">
            <img src="/images/cour.png" alt="" />
          </span>
          <header class="major">
            <h3>CPE, Prof, Infirmier.ère</h3>
            <p>Votre proximité avec les élèves fait de vous un interlocteur parfois privilégié.<br>Vous avez un rôle à
              jouer.</p>
          </header>
        </article>
        <article>
          <span class="image">
            <img src="/images/meditation1.gif" alt="" />
          </span>
          <header class="major">
            <h3>Parents</h3>
            <p>Votre pensez que votre enfant est victime de harcèlement ? Il peut enfin se confier.</p>
          </header>
        </article>

    </div>

    <!-- Contact -->
    <section id="contact">
      <div class="inner">
        <section>
          <form>
            <div class="fields">
              <div class="field half">
                <label for="name">Votre nom</label>
                <input type="text" name="name" id="name" />
              </div>
              <div class="field half">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" />
              </div>
              <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6"></textarea>
              </div>
            </div>
            <ul class="actions">
              <li>
                <div class="button">Envoyer</div>
              </li>
              <li><input type="reset" value="Clear" /></li>
            </ul>
          </form>
        </section>
        <section class="split">
          <section>
            <div class="contact-method">
              <span class="icon alt fa-envelope"></span>
              <h3>Email</h3>
              <a href="mailto:information@untitled.tld">information@untitled.tld</a>
            </div>
          </section>
          <section>
            <div class="contact-method">
              <span class="icon alt fa-phone"></span>
              <h3>Phone</h3>
              <span>(000) 000-0000 x12387</span>
            </div>
          </section>
          <section>
            <div class="contact-method">
              <span class="icon alt fa-home"></span>
              <h3>Address</h3>
              <span>1234 Somewhere Road #5432<br />
                Nashville, TN 00000<br />
                United States of America</span>
            </div>
          </section>
        </section>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; Untitled</li>
          <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </footer>

  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>