<!DOCTYPE HTML>
<!--
  Forty by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <title>SAFETY</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  {{!-- <link rel="stylesheet" href="/stylesheets/style.css" /> --}}
  <noscript>
    <link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
    <!-- Note: The "styleN" class below should match that of the banner element. -->
    <header id="header" class="alt style2">
      <a href="/landing" class="logo">
        <h1>bullying</h1>
      </a>
      <nav>
        <a href="#menu">Menu</a>
      </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
      <ul class="links">
        <li><a href="/">ACCEUIL</a></li>
        <li><a href="/profile">PROFIL</a></li>
        <li><a href="/messagerie">MESSAGERIE</a></li>
      </ul>
      <ul class="actions stacked">
        <li><a href="auth/logout" class="button fit">Deconnexion</a></li>
      </ul>
    </nav>



    {{{body}}}




    <!-- Footer -->
    <footer id="footer">

    </footer>

  </div>

  <!-- Scripts -->
  <script src="/javascripts/script.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.scrolly.min.js"></script>
  <script src="/assets/js/jquery.scrollex.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>