<!DOCTYPE HTML>
<!--
  Forty by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <title>SAFETY</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <noscript>
    <link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

  <header id="header" class="alt style2">
    <a href="/">
      <img src="/images/Logo.png" alt="" width="35%" height="auto" class="logo">
    </a>
  </header>
  <br>
  <h2>L'APPLICATION POUR LUTTER CONTRE LE HARCÈLEMENT SCOLAIRE</h2>
  <hr>
  <section id="contact">

    <div class="inner profile">

      <section>
        <h3>Le harcèlement, c’est quoi ?</h3>
        <p>Le harcèlement se définit comme une violence répétée qui peut être verbale, physique ou psychologique.
          Cette
          violence se retrouve aussi au sein de l’école. Elle est le fait d’un ou de plusieurs élèves à l’encontre
          d’une
          victime qui ne peut se défendre.
          Lorsqu’un enfant est insulté, menacé, battu, bousculé ou reçoit des messages injurieux à répétition, on
          parle
          donc de harcèlement.</p>

        <h3>Comment utiliser l'application ?</h3>
        <ul style="margin: 1em">
          <li>Connectez vous à votre compte sur l'application BULLYING avec votre adresse email</li>
          <br>
          <li>Dans le menu vous aurez accès à votre profil et, selon votre rôle au sein de l'établissement, vous
            pourez
            modifier certaines informations</li>
          <br>
          <li>Victime ou témoin d'un acte de harcèlement, vous pouvez écrire de manière anonyme ou non à une personne
            encadrante de vote choix en accèdant à votre messagerie</li>
          <br>
          <li>Pour envoyer un nouveau message : Dans votre messagerie cliquez sur NOUVEAU MESSAGE puis sélectionner un
            destinataire, l'objet qui concerne votre demande et saisissez un titre puis écrivez votre message</li>
          <br>
          <li>Si vous souhaitez soumettre votre message anonymement cochez l'onglet RESTER ANONYME puis cliquez sur
            envoyer</li>
        </ul>
      </section>

      <section class="split">

        <section>
          <div class="contact-method">
            <img src="../images/banner_2.jpg" alt="" width="100%" height="auto">
          </div>
          <h4>Les 3 caractéristiques du harcèlement en milieu scolaire :</h4>
          <ol>
            <li>La violence : c’est un rapport de force et de domination entre un ou plusieurs élèves et une ou
              plusieurs victimes.</li>
            <li>La répétitivité : il s’agit d’agressions qui se répètent régulièrement durant une longue période.</li>
            <li>L’isolement de la victime : la victime est souvent isolée, plus petite, faible physiquement, et dans
              l’incapacité de se défendre.</li>
          </ol>
        </section>

      </section>
    </div>
  </section>
  <input type="button" value="Revenir" onclick="window.history.back()" />

  <!-- Scripts -->
  <script src="/javascripts/script.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.scrolly.min.js"></script>
  <script src="/assets/js/jquery.scrollex.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>