<h2>Mode d'emploi</h2>
<hr>
<section id="contact">

	<div class="inner profile">

		<section>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt dignissimos quisquam cumque. Quod repudiandae nobis obcaecati odio sint, qui modi non nisi sed itaque ipsum quibusdam placeat ipsam magnam quia.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laboriosam beatae tempore, impedit, quod veniam enim quidem ea maxime voluptatum cumque cupiditate saepe! Earum ipsum iusto quibusdam, quos libero, sapiente.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt dignissimos quisquam cumque. Quod repudiandae nobis obcaecati odio sint, qui modi non nisi sed itaque ipsum quibusdam placeat ipsam magnam quia.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laboriosam beatae tempore, impedit, quod veniam enim quidem ea maxime voluptatum cumque cupiditate saepe! Earum ipsum iusto quibusdam, quos libero, sapiente.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt dignissimos quisquam cumque. Quod repudiandae nobis obcaecati odio sint, qui modi non nisi sed itaque ipsum quibusdam placeat ipsam magnam quia.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laboriosam beatae tempore, impedit, quod veniam enim quidem ea maxime voluptatum cumque cupiditate saepe! Earum ipsum iusto quibusdam, quos libero, sapiente.</p>
		</section>

		<section class="split">

			<section>
				<div class="contact-method">
					<img src="../images/banner_2.jpg" alt="" width="100%" height="auto">
				</div>
			</section>

			<section>					
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3><a href="#">Modifier mon profil</a></h3>
				</div>
			</section>
		</section>
	</div>
</section>