<!DOCTYPE HTML>
<!--
  Forty by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <noscript>
    <link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

  <header id="header" class="alt style2">
    <a href="index.html" class="logo"><h1>bullying</h1></a>        
  </header>
  <br>
  <h2>Mode d'emploi</h2>
<hr>
<section id="contact">

	<div class="inner profile">

		<section>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt dignissimos quisquam cumque. Quod repudiandae nobis obcaecati odio sint, qui modi non nisi sed itaque ipsum quibusdam placeat ipsam magnam quia.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laboriosam beatae tempore, impedit, quod veniam enim quidem ea maxime voluptatum cumque cupiditate saepe! Earum ipsum iusto quibusdam, quos libero, sapiente.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt dignissimos quisquam cumque. Quod repudiandae nobis obcaecati odio sint, qui modi non nisi sed itaque ipsum quibusdam placeat ipsam magnam quia.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laboriosam beatae tempore, impedit, quod veniam enim quidem ea maxime voluptatum cumque cupiditate saepe! Earum ipsum iusto quibusdam, quos libero, sapiente.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt dignissimos quisquam cumque. Quod repudiandae nobis obcaecati odio sint, qui modi non nisi sed itaque ipsum quibusdam placeat ipsam magnam quia.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis laboriosam beatae tempore, impedit, quod veniam enim quidem ea maxime voluptatum cumque cupiditate saepe! Earum ipsum iusto quibusdam, quos libero, sapiente.</p>
		</section>

		<section class="split">

			<section>
				<div class="contact-method">
					<img src="../images/banner_2.jpg" alt="" width="100%" height="auto">
				</div>
			</section>

		</section>
	</div>
</section>
<input type="button" value="Revenir" onclick="window.history.back()" />

  <!-- Scripts -->
  <script src="/javascripts/script.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.scrolly.min.js"></script>
  <script src="/assets/js/jquery.scrollex.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>