<h2>Mes informations</h2>
<hr>
<section id="contact">

	<div class="inner profile">

		<section>
			<p>Nom</p>
			<br>
			<p>Prénom</p>
			<br>
			<p>Classe</p>
			<br>
			<p>Email</p>
			<br>
			<p>Adresse</p>
			<br>
			<p>Numéro de téléphone</p>
			<br>
			<p>Mot de passe</p>
		</section>

		<section class="split">

			<section>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3><a href="/messagerie">Accéder à la messagerie</a></h3>
				</div>
			</section>

			<section>					
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3><a href="#">Modifier mon profil</a></h3>
				</div>
			</section>
		</section>
	</div>
</section>