<br>
<h2>Utilisateurs</h2>

<input type="text" id="search" placeholder="Rechercher un utilisateur par Nom, Prénom, adresse email, ...">
<br>
<br>
<ul id="liste">
</ul>

<script src="/assets/js/searchbar.js"></script>