<br>
<h2>Etablissements</h2>

<input type="text" id="search" placeholder="Rechercher un établissement par Nom, Ville, Département, ...">
<br>
<br>
<ul id="liste">
</ul>

<script src="/assets/js/searchbarEtablissement.js"></script>