<h2>Messagerie de {{user.prenom}} {{user.nom}}</h2>
<hr>
<section id="contact">

	<div>

		<section>

		</section>

	</div>
</section>
<br>
<input type="button" value="Revenir" onclick="window.history.back()" />