<br>
<style>
  #parent {
    display: block;
  }
</style>

<h2>Création d'un nouvel utilisateur</h2>

<form action="/principal/signup" method="POST" id="form-container">
  <label for="nom">Nom</label>
  <input id="nom" type="text" name="nom" placeholder="Nom">

  <br><br>

  <label for="prenom">Prénom</label>
  <input id="prenom" type="text" name="prenom" placeholder="Prénom">

  <br><br>

  <label for="classe">Classe</label>
  <select name="classe" id="classe">
    <option value="6 eme 1">6 eme 1</option>
    <option value="6 eme 2">6 eme 2</option>
    <option value="6 eme 3">6 eme 3</option>
    <option value="6 eme 4">6 eme 4</option>
    <option value="6 eme 5">6 eme 5</option>
  </select>

  <br><br>

  <label for="username">Email</label>
  <input id="username" type="text" name="username" placeholder="email">

  <br><br>

  <label for="telephone">Telephone</label>
  <input id="telephone" type="text" name="telephone" placeholder="telephone">

  <br><br>

  <label for="role">Role</label>
  <select name="role" id="role" onchange="myFunction()">
    <option value="ELEVE">ELEVE</option>
    <option value="PROFESSEUR.E">PROFESSEUR.E</option>
    <option value="CPE">CPE</option>
    <option value="PRINCIPAL.E">PRINCIPAL.E</option>
    <option value="INFIRMIER.E">INFIRMIER.E</option>
    <option value="ASSISTANT.E D'EDUCATION">ASSISTANT.E D'EDUCATION</option>
  </select>

  <br><br>

  <label for="genre">Genre</label>
  <select name="genre" id="genre">
    <option value="male">H</option>
    <option value="female">F</option>
  </select>

  <br><br>

  <!-- <input id="etablissement" type="hidden" name="etablissement" value="5cc6fe20b6b135051e8639cc"> -->

  <label for="etablissement">Etablissement</label>
  <select name="etablissement" id="etablissement">
    {{#each etablissements}}
    <option value="{{_id}}">{{nom}}</option>
    {{/each}}
  </select>

  <br><br>

  <div id="parent">
    <h4>Parent référent</h4>

    <hr>

    <label for="parent_nom">Nom</label>
    <input id="parent_nom" type="text" name="parent_nom">

    <br><br>

    <label for="parent_prenom">Prénom</label>
    <input id="parent_prenom" type="text" name="parent_prenom">

    <br><br>

    <label for="parent_email">Email</label>
    <input id="parent_email" type="text" name="parent_email">

    <br><br>

    <label for="parent_telephone">Telephone</label>
    <input id="parent_telephone" type="text" name="parent_telephone">
  </div>
  <br><br>

  <label for="password">Mot de passe</label>
  <input id="password" type="password" name="password" placeholder="Mot de passe">


  <br>

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Créer un nouveau profil</button>

  <br><br>

</form>
<script>
  function myFunction() {
    var d = document.getElementById("parent");
    var x = document.getElementById("role").value;

    if (x != 'ELEVE') {
      d.style.display = "none";
    } else {
      d.style.display = "block";
    }


  }
</script>